<mat-grid-list cols="3">

  <mat-grid-tile *ngFor="let map of mapList">
    <mat-grid-tile-header>
      {{map.id}} - {{map.name}}
    </mat-grid-tile-header>
      <img src="{{serverPath}}image/{{map.backgroundImage.id}}/thumbnail.png" alt="{{map.name}}">
      {{map.gridWidth}}x{{map.gridHeight}}, Background: {{map.backgroundImage.name}}
    <mat-grid-tile-footer>
      <button mat-raised-button
              (click)="loadMap(map.id)">Load</button>
      <button mat-raised-button color="warn" (click)="deleteMap(map.id)">Delete</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>

</mat-grid-list>
