<mat-card class="modal">
  <mat-card-header class="mat-card-title">
    <div>
      Asset Manager
    </div>
    <div class="flex"></div>
    <div>
      <button mat-button
              matTooltip="Zoom out"
              (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-button
              matTooltip="Zoom in"
              (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-button
              color="warn"
              matTooltip="Close"
              (click)="closeWindow()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-background-window *ngIf="showBackground()"
                      [pickEvent]="pickSubject.asObservable()"
                      [iconSize]="iconSize">
    </app-background-window>
    <app-token-window #tokenWindow
                      *ngIf="showToken()"
                      [pickEvent]="pickSubject.asObservable()"
                      [iconSize]="iconSize">
    </app-token-window>
    <app-upload-window *ngIf="showUpload()"
                      [uploadState]="uploadState">
    </app-upload-window>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button
            matTooltip="Upload new assets"
            (click)="clickUpload()">
      <mat-icon>image</mat-icon>
      <span>{{showUpload() ? 'Cancel' : 'Upload'}}</span>
    </button>
    <button mat-raised-button
            color="warn"
            matTooltip="Delete selected assets"
            (click)="clickDelete()">
      <mat-icon>delete-outline</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-raised-button
            color="primary"
            matTooltip="Pick token"
            (click)="clickPick()">
      <mat-icon>done</mat-icon>
      <span>Pick</span>
    </button>
  </mat-card-actions>
</mat-card>
