<mat-card class="modal">
  <mat-card-header class="mat-card-title">
    <div>
      Asset Manager
    </div>
    <div class="flex"></div>
    <div>
      <button mat-button
              matTooltip="Zoom out"
              (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-button
              matTooltip="Zoom in"
              (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-button
              color="warn"
              matTooltip="Close">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="6" rowHeight="fit">
      <asset-icon size="{{iconSize}}" filename="1"></asset-icon>
      <asset-icon size="{{iconSize}}" filename="2"></asset-icon>
      <asset-icon selected=true size="{{iconSize}}" filename="3"></asset-icon>
      <asset-icon size="{{iconSize}}" filename="4"></asset-icon>
      <asset-icon size="{{iconSize}}" filename="5"></asset-icon>
      <asset-icon size="{{iconSize}}" filename="3"></asset-icon>
      <asset-icon size="{{iconSize}}" filename="2"></asset-icon>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button
            matTooltip="Upload a new token">
      <mat-icon>image</mat-icon>
      <span>Upload</span>
    </button>
    <button mat-raised-button
            color="warn"
            matTooltip="Delete selected token">
      <mat-icon>delete-outline</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-raised-button
            color="primary"
            matTooltip="Pick token">
      <mat-icon>done</mat-icon>
      <span>Pick</span>
    </button>
  </mat-card-actions>
</mat-card>
