<mat-card id="palette-card">
  <button mat-flat-button
          matTooltip="Selection mode: select tokens"
          matTooltipPosition="right"
          (click)="showNone()">
    <mat-icon>select_all</mat-icon>
  </button>
  <button mat-flat-button
          matTooltip="Refresh tokens"
          matTooltipPosition="right"
          (click)="refreshTokens()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button *ngFor="let token of selectedTokenAssets"
          mat-flat-button>
    <img  src="{{serverPath}}/image/{{token.id}}/thumbnail.png"
          width="32"
          height="32"
          (click)="selectToken(token)"/>
  </button>
  <button mat-flat-button
          matTooltip="Remove token"
          matTooltipPosition="right"
          (click)="deleteToken()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-flat-button
          matTooltip="Show tokens"
          matTooltipPosition="right"
          (click)="showToken()">
    <mat-icon>group</mat-icon>
  </button>
  <button mat-flat-button
          matTooltip="Show backgrounds"
          matTooltipPosition="right"
          (click)="showBackground()">
    <mat-icon>image</mat-icon>
  </button>
</mat-card>
