<mat-card id="palette-card">
  <button mat-flat-button
          matTooltip="Selection mode: select tokens"
          matTooltipPosition="right">
    <mat-icon>select_all</mat-icon>
  </button>
  <button mat-flat-button
          matTooltip="Add token"
          matTooltipPosition="right">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-flat-button
          matTooltip="Show tokens"
          matTooltipPosition="right">
    <mat-icon>group</mat-icon>
  </button>
  <button mat-flat-button
          matTooltip="Show backgrounds"
          matTooltipPosition="right">
    <mat-icon>image</mat-icon>
  </button>
</mat-card>
