<mat-card class="modal">
  <mat-card-header class="mat-card-title">
    <div>
      {{windowTitle()}}
    </div>
    <div class="flex"></div>
    <div>
      <button mat-button
              color="warn"
              matTooltip="Close"
              (click)="closeWindow()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <window-map-load *ngIf="showMapLoad()"></window-map-load>
  <window-map-settings *ngIf="showMapSettings()"></window-map-settings>
</mat-card>
