<mat-toolbar>
  <span>Battlemap</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span *ngIf="role === 'DM'">
    <button mat-flat-button>
      <mat-icon>settings_applications</mat-icon>
      Settings</button>
        <button mat-flat-button
            (click)="saveMap()"
            [disabled]="!authenticated">New map</button>
        <button mat-flat-button
            (click)="loadMap()"
            [disabled]="!authenticated">Load map</button>
<!--    <button mat-raised-button
            (click)="saveMap()"
            [disabled]="!authenticated">Save</button>-->
  </span>
  <span>&nbsp;&nbsp;Role: {{role}}&nbsp;&nbsp;</span>
  <button mat-raised-button
          (click)="showLogin()"
          [disabled]="authenticated">Login</button>
</mat-toolbar>
