<div #canvasDiv id="canvas" style="position: relative; overflow: scroll; height: 100%;">
  <div>
    <app-map-canvas></app-map-canvas>
    <app-grid-canvas  [backgroundHeight]="backgroundHeight"
                      [backgroundWidth]="backgroundWidth"
                      [lineColour]="lineColour">
    </app-grid-canvas>
    <app-token-canvas #tokenCanvas
                      [backgroundHeight]="backgroundHeight"
                      [backgroundWidth]="backgroundWidth"
                      [gridHeight]="gridHeight"
                      [gridWidth]="gridWidth"
                      [style.cursor]="(selectedTokenAsset) ? 'crosshair' : ''"
                      [dragInfo]="dragInfo">
    </app-token-canvas>
  </div>
</div>
